
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background:#ECECEC;
    Padding:100px;
}
.Banner{
    width:90%;
    height:560px;
    background:#C6E4D6;
    border-radius:10px;
    display:flex;
    justify-content: space-between;
    padding:30px;

}
.Banner p{
    color:#B3B3B3;
    font-weight:bold;

}
.intro p{
  margin-top:10rem;
  
}
 .btn{
    background:green;
    color:#fff;
    font-weight: bold;
    padding:15px 10px;
    border-radius:5px;
    border:none;
 
} 
.cart-01{
width:450px;
height:200px;
padding:20px;
border-radius:10px;

background:#FFFF;
border:1px solid #D5D6D8;

}
.cart{
    margin-top:100px;
    padding:100px ;
    display:flex;
    gap:20px;
}

.card-01{
    background:#81B4FC;
    width:300px;
    height:300px;
    padding:20px;
    border-radius:10px;
}
.card-02{
    background:#C6E4D6;
    width:300px;
    height:300px;
    padding:20px;
    border-radius:10px;
}
.card-03{
      background:#FFF7DF;
      border:none;
      width:300px;
      height: 300px;
      padding:20px;
      border-radius:10px;
}
.btn-b{
    color:#fff;
    background:#5490F5;
    border:none;
    width:100px;
    height:30px;
    border-radius:10px;
}
.btn-g{
    background:#09A15C;
    color:#ffff;
    border:none;
    width:100px;
    height:30px;
    border-radius:5px;
}
    
.btn-y{
 background:#FFC239;
 border:none;
 width:100px;
 height:30px;
 border-radius:5px;
 color:#fff;
}
.card{
    margin:0 auto;
    display:flex;
    gap:20px;
}

.description{
   
    margin-top:80px;
    background:#ffff;
    width:60%;
    height:50%;
    padding:20px;
}